<footer >
    <div class="container-fluid bg-dark text-white">
        <div class="row">
            <div class="col-12">
                <ul class="list-inline d-flex justify-content-center ">
                    <li class="mx-1">
                        <a class="text-decoration-none text-white" href="{% url 'home' %}">Home</a>
                    </li>
                    <li class="mx-1">
                        <a class="text-decoration-none text-white" href="{% url 'about' %}">About</a>
                    </li>
                    <li class="mx-1">
                        <a class="text-decoration-none text-white" href="{% url 'service' %}">Service</a>
                    </li>
                    <li class="mx-1">
                        <a class="text-decoration-none text-white" href="{% url 'skill' %}">Skill</a>

                    </li>
                    <li class="mx-1">
                        <a class="text-decoration-none text-white" href="{% url 'project' %}">Projects</a>
                    </li>
                    <li class="mx-1">
                        <a class="text-decoration-none text-white" href="{% url 'contact' %}">Contact</a>
                    </li>
                </ul>
                <hr style="border-color: #b8bfc2;">
            </div>
            <div class="col-12 text-center">
                <p>
                    © 2023 karthik, Inc
                </p>
            </div>
            <div>
                <a class="text-decoration-none text-white" href="https://www.google.co.in/maps/place/Chennai,+Tamil+Nadu/@13.0474733,80.0441976,11z/data=!3m1!4b1!4m6!3m5!1s0x3a5265ea4f7d3361:0x6e61a70b6863d433!8m2!3d13.0843007!4d80.2704622!16zL20vMGM4dGs?entry=ttu"><p class="text-center"><i class="fa fa-map-marker mx-2 mb-2 text-center" style="font-size:24px"></i>Chennai,India</p></a>
            </div>
            <div>
                <a class="text-decoration-none text-white" href="mailto:karthikdurai3012@gmail.com" ><p class="text-center "><i class="fa fa-envelope-o mx-2 mb-2 text-center" style="font-size:24px"></i>karthikdurai3012@gmail.com</p></a>
            </div>
            <div>
                <a class="text-decoration-none text-white" href="tel:8838399673"><p class="text-center"><i class="fa fa-phone mx-2  text-center" style="font-size:24px"></i>8838399673</p></a>
            </div>

        </div>
    </div>
</footer>