<nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top">
    <div class="container-fluid">
      <a class="navbar-brand mx-3 fs-3" href="#">Karthik</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse mx-3" id="navbarNav">
        <ul class="navbar-nav mb-2  ms-auto fs-5">
          <li class="nav-item ">
            <a class="nav-link text-" aria-current="page" href="{% url 'home' %}">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'about' %}">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'service' %}">services</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'project' %}">project</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'skill' %}">Skill</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'contact' %}">Contact</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>