{% extends 'layouts/main.html' %}


{% block content %}

<div class="container" >
    <div class="row">
        <div class="col-12">
            <h3 class="pro">
                Projects
            </h3>
            <hr style="border-color: gray;">
        </div>
    </div>
    <div class="table-responsive " style="min-height: 600px;">
        <table class="table table-bordered text-center align-middle table-hover">
            <thead>
                <tr>
                    <th>
                        Project Name
                    </th>
                    <th>project description</th>
                    
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>STUDENT MANAGEMENT SYSTEMS</td>
                    <td>  Regulating Students information and processing analysing data by 
                        using python t-kinder and store the Data in python MySql database
                    </td>
                    
                </tr>
                <tr>
                    <td>
                        ECOMMERCE WEBSITE
                    </td>
                    <td>
                        build a Ecommerce Shopping website by using HTML,CSS,PYTHON with DJANGO framework and the data's are stored in MySql database
                    </td>
                </tr>
                <tr>
                    <td>
                        PORTFOLIO
                    </td>
                    <td>
                        build a portfolio website by using HTML,CSS,PYTHON with DJANGO framework
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

</div>



{% endblock content %}


