{% extends 'layouts/main.html' %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col-12">
            <h3 class="text-center">services</h3>
        </div>
        <hr style="border-color: grey;">
    </div>
   
</div>

<div class="container" style="min-height:600px">
    <div class="row">
        <div class="col-md-4 bg-dark text-white border border-white ">
            <h3 class="text-center my-5">
                web Developer
            </h3>
            <p>
                Dedicated and motivated web developer with a passion for creating engaging and user-friendly websites and web applications. Seeking an opportunity to leverage my skills in HTML, CSS, JavaScript, and front-end frameworks to contribute to innovative projects and collaborate with a dynamic team. Eager to continue learning and growing in a fast-paced environment while delivering high-quality solutions that exceed client expectations.
            </p>
    
        </div>
        <div class="col-md-4  bg-dark text-white border border-white">
            <h3 class="text-center my-5">
                Python Developer
            </h3>
            <p>
                Enthusiastic and detail-oriented Python developer eager to kick-start a career in software development. With a solid foundation in Python programming acquired through coursework and personal projects, I am seeking an opportunity to apply my skills and learn from experienced professionals in a collaborative environment. I am committed to delivering high-quality code, solving complex problems, and contributing to the success of projects while continuously expanding my knowledge and expertise in Python development.
            </p>
        </div>
        <div class="col-md-4  bg-dark text-white border border-white">
            <h3 class="text-center my-5">
                SQL Developer
            </h3>
            <p>
                Eager and enthusiastic fresher seeking a challenging role in database management. With a solid understanding of database fundamentals acquired through academic coursework and practical projects, I am keen to apply my knowledge and learn from experienced professionals in a dynamic environment. My goal is to contribute to the design, development, and optimization of databases while continuously expanding my skills and expertise in database management. I am committed to delivering high-quality work and making a positive impact on the organization's data-driven initiatives.
            </p>

        </div>

    </div>

</div>


{% endblock content %}