{% extends 'layouts/main.html' %}

{% block content %}

<div class="container" style="min-height: 600px;">
    <div class="row">
        <div class="col-12">
            <h3>
                skills
            </h3>
            <hr style="border-color:grey">   
        </div>
        <div class="col-12">
            <b>PYTHON</b>
            <div class="progress">
                <div class="progress-bar progress-bar-striped progress-bar-animated bg-info" id="python" role="progressbar" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100" style="width: 85%"></div>
            </div>
            
            <b>HTML</b>
            <div class="progress">
                <div class="progress-bar progress-bar-striped progress-bar-animated bg-danger" role="progressbar" aria-valuenow="95" aria-valuemin="0" aria-valuemax="100" style="width: 95%"></div>
              
            </div>
            <b>CSS</b>
            <div class="progress">
                <div class="progress-bar progress-bar-striped progress-bar-animated bg-success" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100" style="width: 90%"></div>
            </div>
            
            <b>JAVA SCRIPT</b>
            <div class="progress">
                <div class="progress-bar progress-bar-striped progress-bar-animated bg-warning" role="progressbar" aria-valuenow="65" aria-valuemin="0" aria-valuemax="100" style="width: 65%"></div>
            </div>
            
            <b>SQL</b>
            <div class="progress">
                <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 75%"></div>
            </div> 
            <b>DJANGO</b>
            <div class="progress">
                <div class="progress-bar progress-bar-striped progress-bar-animated bg-secondary" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width: 50%"></div>
            </div>
            <b>BOOTSTRAP</b>
            <div class="progress">
                <div class="progress-bar progress-bar-striped progress-bar-animated bg-dark" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width: 50%"></div>
            </div>  
        </div>
            
    </div>

</div>


{% endblock content %}